<!--一覧画面-->

<!--フラッシュメッセージの表示-->
<div>
    <%= flash[:notice] %>
</div>

<h1>Books</h1>

<!--投稿一覧-->
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Detail</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <% @books.each do |book| %>   <!--「@books.each」Bookレコードの数だけ繰り返し処理を行う-->
    <tbody>
        <tr>
            <td><%= book.title %></td>
            <td><%= book.body %></td>
            <!-- link_to "表示させるテキスト" , リンク先URL [,オプション] -->
            <td><%= link_to 'Show', "/books/#{book.id}" %></td>
            <td><%= link_to 'Edit', "/books/#{book.id}/edit" %></td>
            <td><%= link_to 'Destroy', book_path(book), method: :delete, "data-confirm" => "Do you really want to delete this?" %></td>
            <!-- ↑ これでもいい→data: { confirm: "Do you really want to delete this?"}-->
            <!--data-confirm：削除か買う人ダイアログの表示-->
        </tr>
    </tbody>
    <% end %>
</table>


<!--新規投稿-->
<h1>New Book</h1>

<!--エラー内容表示-->
<% if @book.errors.any? %>
    ※<%= @book.errors.count %> errors occurred.※
    <ul>
        <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<!--新規投稿フォーム-->
<%= form_with model: @book, url: '/books', method: :post do |f| %>

    <h4>Title</h4>
    <%= f.text_field :title %>   <!--タイトル入力-->

    <h4>Detail</h4>
    <%= f.text_area :body %>     <!--詳細入力-->

    <%= f.submit 'Create Book' %>   <!--投稿ボタン-->

<% end %>